/* line 19, ../sass/login.scss */
html #top #login-form, html #top #lost-password-form, html #top #new-password-form {
  max-width: 600px;
  margin: 10px auto;
  width: 100%;
}
/* line 23, ../sass/login.scss */
html #top #login-form .element.header, html #top #lost-password-form .element.header, html #top #new-password-form .element.header {
  margin-bottom: 20px;
}
/* line 25, ../sass/login.scss */
html #top #login-form .element.header h3, html #top #lost-password-form .element.header h3, html #top #new-password-form .element.header h3 {
  color: #339933;
}
/* line 29, ../sass/login.scss */
html #top #login-form .element.extra, html #top #lost-password-form .element.extra, html #top #new-password-form .element.extra {
  text-align: right;
}
/* line 31, ../sass/login.scss */
html #top #login-form .element.extra a, html #top #lost-password-form .element.extra a, html #top #new-password-form .element.extra a {
  text-decoration: underline;
  font-weight: 600;
}
/* line 38, ../sass/login.scss */
html #top #signup-form {
  max-width: 600px;
  margin: 10px auto;
  width: 100%;
}
/* line 42, ../sass/login.scss */
html #top #signup-form .pro {
  display: none;
}
/* line 45, ../sass/login.scss */
html #top #signup-form .element.header {
  margin-bottom: 20px;
}
/* line 47, ../sass/login.scss */
html #top #signup-form .element.header h3 {
  color: #339933;
}
/* line 51, ../sass/login.scss */
html #top #signup-form .element.buttons {
  text-align: right;
}
/* line 53, ../sass/login.scss */
html #top #signup-form .element.buttons .back {
  float: left;
  background: #cac8c8;
  border-color: #cac8c8;
  color: white;
}
/* line 60, ../sass/login.scss */
html #top #signup-form .element.steps {
  max-width: 600px;
  margin: 10px auto;
  width: 100%;
}
/* line 64, ../sass/login.scss */
html #top #signup-form .element.steps:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 69, ../sass/login.scss */
html #top #signup-form .element.steps > div {
  float: left;
  width: 33.333%;
  text-align: center;
}
/* line 73, ../sass/login.scss */
html #top #signup-form .element.steps > div i {
  border: 1px solid;
  line-height: 29px;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
}
/* line 81, ../sass/login.scss */
html #top #signup-form .element.steps > div span {
  display: block;
}
/* line 86, ../sass/login.scss */
html #top #signup-form .step-content {
  display: none;
  padding: 10px 20px;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 88, ../sass/login.scss */
html #top #signup-form .step-content:hover {
  box-shadow: 0 4px 36px 0 #08374912;
}
/* line 94, ../sass/login.scss */
html #top #signup-form .letreco-disclaimer {
  display: none;
}
/* line 98, ../sass/login.scss */
html #top #signup-form[data-step='1'] .letreco-disclaimer {
  display: block;
}
/* line 101, ../sass/login.scss */
html #top #signup-form[data-step='1'] .element.steps > div:nth-child(1) {
  color: #339933;
  font-weight: bold;
}
/* line 105, ../sass/login.scss */
html #top #signup-form[data-step='1'] .step-content[data-step='1'] {
  display: block;
}
/* line 110, ../sass/login.scss */
html #top #signup-form[data-step='2'] .element.steps > div:nth-child(2) {
  color: #339933;
  font-weight: bold;
}
/* line 114, ../sass/login.scss */
html #top #signup-form[data-step='2'] .step-content[data-step='2'] {
  display: block;
}
/* line 119, ../sass/login.scss */
html #top #signup-form[data-step='3'] .element.steps > div:nth-child(3) {
  color: #339933;
  font-weight: bold;
}
/* line 123, ../sass/login.scss */
html #top #signup-form[data-step='3'] .step-content[data-step='3'] {
  display: block;
}
/* line 128, ../sass/login.scss */
html #top .registration-success {
  max-width: 500px;
  text-align: center;
  margin: 20px auto;
}
/* line 132, ../sass/login.scss */
html #top .registration-success > i {
  color: #2d9a2c;
  font-size: 50px;
}
