/* line 17, ../sass/main.scss */
html.html_header_top.html_header_topbar_active.html_header_sticky #top div#main {
  padding-top: 70px;
}

/* line 23, ../sass/main.scss */
html #top .letreco-disclaimer {
  padding: 5px 20px;
  background: #fafafa;
  margin-bottom: 20px;
  border-radius: 5px;
}
/* line 30, ../sass/main.scss */
html #top .entry-content-wrapper {
  word-break: break-word;
}
/* line 34, ../sass/main.scss */
html #top #header_meta {
  display: none;
}
/* line 38, ../sass/main.scss */
html #top #header_main .logo a {
  position: relative;
}
/* line 40, ../sass/main.scss */
html #top #header_main .logo a img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px;
}
/* line 48, ../sass/main.scss */
html #top #main > div.container_wrap.container_wrap_first {
  min-height: calc(100vh - 458px);
}
/* line 52, ../sass/main.scss */
html #top #header_main .container, html #top .main_menu ul:first-child > li > a {
  height: 68px;
  line-height: 68px;
}
/* line 58, ../sass/main.scss */
html #top .single-product .single-product-main-image, html #top .single-product .product_meta {
  display: none;
}
/* line 61, ../sass/main.scss */
html #top .single-product .single-product-summary {
  width: 100%;
}
/* line 63, ../sass/main.scss */
html #top .single-product .single-product-summary .summary.entry-summary {
  width: 100%;
}
/* line 66, ../sass/main.scss */
html #top .single-product .single-product-summary .woocommerce-tabs {
  display: none;
}
/* line 69, ../sass/main.scss */
html #top .single-product .single-product-summary .variations {
  margin: 20px 0 0 0;
}
/* line 71, ../sass/main.scss */
html #top .single-product .single-product-summary .variations select {
  margin: 0px;
}
/* line 75, ../sass/main.scss */
html #top .single-product .single-product-summary .woocommerce-variation {
  margin-bottom: 10px;
}
/* line 83, ../sass/main.scss */
html #top form.woocommerce-checkout #customer_details > .col-2 {
  display: none;
}
/* line 86, ../sass/main.scss */
html #top form.woocommerce-checkout #customer_details > .col-1 {
  width: 100%;
}
/* line 92, ../sass/main.scss */
html #top .letreco-modal {
  position: relative;
  background: white;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  z-index: 1;
}
/* line 101, ../sass/main.scss */
html #top .letreco-modal .mfp-close {
  color: #d4d4d4 !important;
  font-size: 44px;
  opacity: 1;
}
/* line 107, ../sass/main.scss */
html #top .letreco-modal#letreco-payment-modal .single-product-main-image, html #top .letreco-modal#letreco-payment-modal .product_meta {
  display: none;
}
/* line 110, ../sass/main.scss */
html #top .letreco-modal#letreco-payment-modal .single-product-summary {
  width: 100%;
}
/* line 112, ../sass/main.scss */
html #top .letreco-modal#letreco-payment-modal .single-product-summary .summary.entry-summary {
  width: 100%;
}
/* line 115, ../sass/main.scss */
html #top .letreco-modal#letreco-payment-modal .single-product-summary .woocommerce-tabs {
  display: none;
}
/* line 122, ../sass/main.scss */
html #top .letreco-clear-after:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 128, ../sass/main.scss */
html #top .letreco-btn {
  padding: 10px 25px;
  color: #339933;
  background: transparent;
  border: 1px solid #339933;
  cursor: pointer;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 136, ../sass/main.scss */
html #top .letreco-btn:hover:not(.disabled), html #top .letreco-btn:focus:not(.disabled) {
  background: #339933;
  color: white;
  outline: none;
  border-radius: 4px;
}
/* line 143, ../sass/main.scss */
html #top .letreco-btn.disabled {
  background: #b5afaf;
  border: none;
}
/* line 149, ../sass/main.scss */
html #top .letreco-error {
  font-style: italic;
  color: red;
  margin-top: 0px;
}
/* line 156, ../sass/main.scss */
html #top .letreco-form * {
  word-break: initial;
}
/* line 159, ../sass/main.scss */
html #top .letreco-form .element {
  margin-bottom: 10px;
}
/* line 161, ../sass/main.scss */
html #top .letreco-form .element > label:nth-child(1) {
  display: block;
  font-size: 13px;
}
/* line 166, ../sass/main.scss */
html #top .letreco-form .element:not(.optional) > label:not(.checkbox-label):nth-child(1):after {
  content: "*";
  color: #339933;
}
/* line 171, ../sass/main.scss */
html #top .letreco-form .element.header, html #top .letreco-form .element.buttons {
  text-align: center;
}
/* line 174, ../sass/main.scss */
html #top .letreco-form .element input[type='email'], html #top .letreco-form .element input[type='text'], html #top .letreco-form .element input[type='password'] {
  padding: 15px 20px;
  border-bottom: 2px solid #339933;
  margin: 0;
  font-size: 16px; /* Empêche le zoom automatique sur mobile */
}
/* line 178, ../sass/main.scss */
html #top .letreco-form .element input[type='email'].error, html #top .letreco-form .element input[type='text'].error, html #top .letreco-form .element input[type='password'].error {
  border-bottom-color: red;
}
/* line 182, ../sass/main.scss */
html #top .letreco-form .element select {
  background: #f7f7f7;
  color: #646363;
  border: none;
  resize: none;
  border-bottom: 2px solid #339933;
  font-size: 15px;
  padding: 14.5px 25px;
  width: 100%;
  background-image: url(/wp-content/themes/letreco/img/select-arrow.png) !important;
  background-repeat: no-repeat !important;
  background-position: 96% 50% !important;
  background-size: 24px !important;
}
/* line 196, ../sass/main.scss */
html #top .letreco-form .element.password {
  position: relative;
}
/* line 198, ../sass/main.scss */
html #top .letreco-form .element.password .fa-eye, html #top .letreco-form .element.password .fa-eye-slash {
  position: absolute;
  top: 38px;
  right: 17px;
  cursor: pointer;
}
/* line 205, ../sass/main.scss */
html #top .letreco-form .element .checkbox-label {
  cursor: pointer;
}
/* line 207, ../sass/main.scss */
html #top .letreco-form .element .checkbox-label span {
  position: relative;
  padding-left: 21px;
}
/* line 211, ../sass/main.scss */
html #top .letreco-form .element .checkbox-label input {
  position: absolute;
  left: -999999px;
}
/* line 214, ../sass/main.scss */
html #top .letreco-form .element .checkbox-label input:checked + span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 13px;
  height: 13px;
  border: 2px solid #339933;
  background: #fff;
  border-radius: 3px;
}
/* line 225, ../sass/main.scss */
html #top .letreco-form .element .checkbox-label input:checked + span:after {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  border-radius: 3px;
  background: #339933;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: "";
  opacity: 1;
}
/* line 237, ../sass/main.scss */
html #top .letreco-form .element .checkbox-label input:not(:checked) + span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 13px;
  height: 13px;
  border: 2px solid #339933;
  background: #fff;
  border-radius: 3px;
}
/* line 248, ../sass/main.scss */
html #top .letreco-form .element .checkbox-label input:not(:checked) + span:after {
  opacity: 0;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  border-radius: 3px;
  background: #339933;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: "";
}
/* line 264, ../sass/main.scss */
html #top .registration-success-final {
  max-width: 500px;
  text-align: center;
  margin: 20px auto;
}
/* line 268, ../sass/main.scss */
html #top .registration-success-final > i {
  color: #2d9a2c;
  font-size: 50px;
  margin-bottom: 20px;
}
/* line 275, ../sass/main.scss */
html #top .record-success {
  max-width: 500px;
  text-align: center;
  margin: 20px auto;
}
/* line 279, ../sass/main.scss */
html #top .record-success > i {
  color: #2d9a2c;
  font-size: 50px;
  margin-bottom: 20px;
}
/* line 285, ../sass/main.scss */
html #top p {
  word-break: break-word;
}

/* line 291, ../sass/main.scss */
.tippy-box[data-theme~='letreco'] {
  background-color: #339933;
  color: white;
}
/* line 294, ../sass/main.scss */
.tippy-box[data-theme~='letreco'] > .tippy-arrow::before {
  border-bottom-color: #339933;
  border-top-color: #339933;
}


html #top .letreco-modal.checkout-modal {
  max-width:  900px;
}

html #top .letreco-modal.checkout-modal .confirm-payment {
  float: none;
}

html #top .letreco-modal.checkout-modal .cancel-payment {
  float: right;
  background: #c4c4c4;
}

html #top .order_details li {
  text-transform: none;
}